section.workingMethod {
  .h2 {
    text-align: center;
  }

  ul.workMethodList {
    list-style: none;
    padding-inline: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
}
