.borderImage {
  div[class*="imageWrapper"] {
    border-radius: 500px;
    overflow: hidden;
    width: 248px;
    height: 382px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    border: 8px solid rgb(var(--peach));
    box-shadow: inset 0 0 16px rgb(var(--black), 0.4),
      0 0 8px rgba(var(--white), 0.4);

    background: var(--peach-brown);
    background: linear-gradient(
      180deg,
      rgba(var(--peach-brown), 0.15) 1%,
      rgba(var(--peach), 1) 100%
    );

    @media (max-width: 768px) {
      align-self: flex-start;
    }
  }
}
