:root {
  /* breakPoint Tokens */

  --bp-xs: 375px;
  --bp-sm: 480px;
  --bp-md: 768px;
  --bp-lg: 1024px;
  --bp-xl: 1440px;

  /* font weight */

  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;

  /* Border-Radius */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;

  /* Spacing */
  --gap-xs: 0.5rem;
  --gap-sm: 1rem;
  --gap-md: 2rem;
  --gap-lg: 4rem;
  --gap-xl: 8rem;
  --gap-xxl: 12rem;
  --gap-xxxl: 16rem;

  /* Shadows */
  --shadow-sm: 0 0 4px rgba(var(--black), 0.6);
  --shadow-md: 0 0 8px rgba(var(--black), 0.6);
  --shadow-inset-sm: inset 0 0 4px rgba(var(--black), 0.6);

  /* Transitions */
  --transition-fast: 0.15s ease-in-out;
  --transition-default: 0.2s ease;

  /* Input visibility Focusring */
  --focus-ring: 2px solid rgb(var(--peach-300));
}
