:root {
  /* breakPoints */

  --bp-xs: 375px;
  --bp-sm: 480px;
  --bp-md: 768px;
  --bp-lg: 1024px;
  --bp-xl: 1440px;

  /* font weight */

  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;

  /* Border-Radius */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;

  /* Spacing – allgemeine Abstände, z. B. margin, padding */
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 2rem;
  --space-lg: 4rem;
  --space-xl: 8rem;
  --space-xxl: 12rem;
  --space-xxxl: 16rem;

  /* Gap – Abstände zwischen Items in Flex/Grid */
  --gap-xs: var(--space-xs);
  --gap-sm: var(--space-sm);
  --gap-md: var(--space-md);
  --gap-lg: var(--space-lg);
  --gap-xl: var(--space-xl);
  --gap-xxl: var(--space-xxl);
  --gap-xxxl: var(--space-xxxl);

  /* Shadows */
  --shadow-sm: 0 0 4px rgba(var(--black), 0.6);
  --shadow-md: 0 0 8px rgba(var(--black), 0.6);
  --shadow-inset-sm: inset 0 0 4px rgba(var(--black), 0.6);

  /* Transitions */
  --transition-fast: 0.15s ease-in-out;
  --transition-default: 0.2s ease;

  /* Input visibility Focusring */
  --focus-ring: 2px solid rgb(var(--peach-300));
}
