.swiperCustomCSS {
  padding-bottom: 8rem;

  .swiperCustomPagination {
    text-align: center;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    border-radius: 50px;
    border: 2px solid rgb(var(--peach));
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    position: absolute;

    .swiper-pagination-bullet {
      background: rgba(var(--beige), 0.75);
      height: 10px;
      width: 10px;
      border-radius: var(--radius-md);
    }
  }
}
