.rating {
  display: flex;
  column-gap: 8px;
  padding-block: 0.5rem;

  .bullet {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: rgba(var(--clay-500), 0.5);
  }
  .bulletActive {
    background-color: rgb(var(--peach));
  }
}
