.backgroundImageWrapper {
  width: 100%;
  position: relative;

  .backgroundImage {
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    z-index: -2;
  }

  .backgroundImageOverlayEffect {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 100%;
    height: 100%;
  }
}
