footer.footer {
  header.header {
    background-color: rgba(var(--black), 0.8);
    backdrop-filter: blur(32px);
    box-shadow: inset 0 0 10px rgba(var(--black), 0.75);

    .buildLogos {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      column-gap: 2rem;

      @media (max-width: 480px) {
        flex-direction: column;
      }

      .label {
        font-size: 0.85rem;
      }
      .imageWrapper {
        display: flex;
        align-items: center;
        column-gap: 1rem;
      }
    }

    .messages {
      text-align: right;

      .message {
        font-style: italic;
        font-size: 1.25rem;
      }

      .lastbuilt {
        font-size: 0.75rem;
        margin-top: 1rem;
        text-align: right;
      }
    }
  }

  .legacyNote {
    display: flex;
    justify-content: center;
    background-color: rgba(var(--black), 0.8);

    padding-block: 1rem;
    margin-block: auto;

    .inner {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;

      @media (max-width: 768px) {
        flex-direction: column-reverse;
        gap: 2rem;
        align-items: center;
      }
    }

    .copyright {
      margin-block: 0;
      font-size: 1rem;

      @media (max-width: 768px) {
        text-align: center;
      }
    }
    .navigation {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      .navigationLink {
        font-size: 1rem;
      }
    }
  }
}
