.footerText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  @media (max-width: 768px) {
    flex-direction: column-reverse;
    gap: 2rem;
    align-items: center;
  }

  .footerTextCopyright {
    margin-block: 0;
    font-size: 1rem;

    @media (max-width: 768px) {
      text-align: center;
    }

    .footerTextContentLink {
    }
  }
  .footerTextNavigation {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    .footerTextContentLink {
      font-size: 1rem;
    }
  }

  .lastbuilt {
    font-size: 0.75rem;
    margin-top: 1rem;
    text-align: right;
  }
}
