header.header {
  position: fixed;
  width: 100%;
  z-index: 1;

  .headerInner {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--header-background);
    min-height: 64px;
    position: relative;

    .logoImageOverlay {
      position: relative;
      height: 55px;
      z-index: 3;
    }
  }
}
