section.hero {
  .heroInner {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    width: 100%;

    .logoImageOverlay {
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translateX(-50%);
      width: auto;
      height: auto;
      z-index: 0;
      .logoImage {
        @media (max-width: 540px) {
          width: 140px;
          height: auto;
        }
      }
    }

    .heroTextOverlay {
      display: flex;
      justify-content: center;
      width: 100%;
      position: absolute;
      bottom: 20%;

      @media (max-width: 1024px) {
        bottom: 20%;
      }

      .heroTextInner {
        display: inline-block;
        width: auto;
        padding: 0 1rem;
        backdrop-filter: blur(30px);
        border-radius: var(--radius-md);
        text-align: center;

        .heroHeadline {
          line-height: 1.2;
          display: inline-block;

          @media (max-width: 650px) {
            font-size: 2.25rem;
          }

          @media (max-width: 540px) {
            font-size: 2rem;
          }

          .heroHeadlineHighlighted {
            color: rgb(var(--hero-headline-highlighted-color));
          }
        }
      }
    }
    .heroImageCon {
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      display: flex;
      align-items: center;
      justify-content: center;
      .heroImage {
        width: 100%;
        height: auto;
        @media (max-width: 1024px) {
          height: 100%;
          width: auto;
        }
      }
    }

    .lockOverlay {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;

      .lockText {
        color: var(--peach-brown);
        font-size: 1rem;
        text-align: center;
        padding: 1rem;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: var(--radius-md);

        .lockIcon {
          font-size: 1.5rem;
          margin-right: 0.5rem;
          color: var(--peach-brown);
        }
      }
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin 3s linear infinite;
  font-size: 2rem; /* optional, für Größe */
}
