section.about {
  background: radial-gradient(
    circle at 25% 85%,
    rgba(53, 33, 27, 0.8) 0%,
    rgba(var(--black), 1) 100%
  );

  .aboutHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 2rem;
    }

    .aboutText {
      max-width: 550px;
      .aboutHeadline {
        color: rgb(var(--heading-secondary-color));
      }
      .aboutTextContent {
        margin-top: 1rem;
        color: rgb(var(--text-color));
      }
    }
    .aboutImageCon {
      border-radius: 500px;
      overflow: hidden;
      width: 248px;
      height: 382px;
      display: flex;
      flex-shrink: 0;
      justify-content: center;
      align-items: center;
      border: 8px solid rgb(var(--peach));
      box-shadow: inset 0 0 16px rgb(var(--black), 0.4),
        0 0 8px rgba(var(--white), 0.4);

      @media (max-width: 768px) {
        align-self: flex-start;
      }

      .aboutImage {
        margin: 0 auto;
      }
    }
  }
}

main.aboutMain {
  .aboutMainInner {
    max-width: 600px;
    margin: 0 auto;
    .aboutList {
      list-style: none;
      padding-left: 0;
      .aboutListItem {
        display: flex;
        gap: 2rem;
        .timeLine {
          display: flex;
          justify-content: center;
          .timeLineContainer {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .timeLineDot {
              background: rgb(var(--peach-300));
              border-radius: 50%;
              width: 1rem;
              height: 1rem;
            }
            .timeLineLineFirst {
              width: 4px;
              height: 50%;
              background: rgb(var(--peach-300));
              position: absolute;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
            }
            .timeLineLine {
              width: 4px;
              height: 100%;
              background: rgb(var(--peach-300));
              position: absolute;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
            }
            .timeLineLineLast {
              width: 4px;
              height: 75%;
              background: rgb(var(--peach-300));
              position: absolute;
              top: 0;
              left: 50%;
              transform: translateX(-50%);
            }
          }
          .timeLineLineYear {
            rotate: 90deg;
            font-family: var(--font-inter);
            font-size: 0.85rem;
            font-weight: normal;
            letter-spacing: 1.5px;
            align-self: center;
          }
        }
        .timeLineText {
          display: flex;
          gap: 0.5rem;
          flex-direction: column;
          .timeLineTextHeadline {
            margin: 0;
            padding: 0;
          }
          .timeLineTextContent {
            margin: 0;
            padding-bottom: 2rem;
          }
        }
      }
    }
  }
}
