section.music {
  background-image: url("../../../public/img/background/music_bckgrnd.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(16px);

  .musicBackground {
    background: radial-gradient(
      circle at 25% 100%,
      rgba(63, 15, 21, 0.8) 0%,
      rgba(var(--black), 1) 100%
    );
    backdrop-filter: blur(16px);

    .musicHeader {
      display: flex;
      flex-direction: row;
      gap: 4rem;
      align-items: center;

      @media (max-width: 768px) {
        flex-direction: column-reverse;
        gap: 2rem;
      }

      .musicHeaderText {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @media (max-width: 768px) {
          max-width: 550px;
        }

        .musicHeadline {
          padding: 0;
        }
        .musicText {
          margin: 0;
        }
        .musicHeaderButtonCon {
          width: 100%;
          display: flex;
          justify-content: flex-end;
        }
      }
      .musicHeaderImageCon {
        border-radius: 500px;
        overflow: hidden;
        width: 248px;
        height: 382px;
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        border: 8px solid rgb(var(--peach));
        box-shadow: inset 0 0 16px rgb(var(--black), 0.4),
          0 0 8px rgba(var(--white), 0.4);

        @media (max-width: 768px) {
          align-self: flex-start;
        }

        .musicHeaderImage {
          margin: 0 auto;
        }
      }
    }
    .musicMain {
      padding: 2rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2rem;
      border-radius: 25px;
      background: linear-gradient(
        90deg,
        rgba(2, 2, 2, 0.65) 0%,
        rgba(23, 23, 23, 0.65) 100%
      );

      @media (max-width: 768px) {
        flex-direction: column;
        gap: 2rem;
        width: 100%;
      }

      .musicMainText {
        @media (max-width: 768px) {
          max-width: 550px;
        }

        .musicMainHeadline {
          line-height: normal;
          padding: 0;
          font-size: 1.5rem;
          color: rgb(var(--peach));
        }
        .musicMainTextContent {
          font-size: 1.15rem;
          line-height: 1.25;
        }
      }
      .musicMainPlayer {
        .musicPlayerImage {
          @media (max-width: 480px) {
            width: 100%;
            height: auto;
          }
        }
      }
    }
    .musicFooter {
      .musicFooterList {
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-direction: row;
        gap: 2rem;

        @media (max-width: 768px) {
          flex-direction: column;
          gap: 3rem;
        }

        .musicFooterListItem {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          justify-content: center;
          align-items: center;
          flex: 1;
          .musicFooterListItemImgCon {
            height: 80px;
          }

          .musicFooterListItemHeadline {
            color: rgb(var(--peach));
            padding: 0;
          }
          .musicFooterListItemText {
            margin: 0;
            font-size: 1rem;
            text-align: center;
          }
        }
        .musicFooterListItemButtonCon {
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
