section.about {
  background: radial-gradient(
    circle at 25% 85%,
    rgba(53, 33, 27, 0.8) 0%,
    rgba(var(--black), 1) 100%
  );

  .aboutHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 2rem;
    }

    .aboutText {
      max-width: 550px;
      .aboutHeadline {
        color: rgb(var(--heading-secondary-color));
      }
      .aboutTextContent {
        margin-top: 1rem;
        color: rgb(var(--text-color));
      }
    }
    .aboutImageCon {
      border-radius: 500px;
      overflow: hidden;
      width: 248px;
      height: 382px;
      display: flex;
      flex-shrink: 0;
      justify-content: center;
      align-items: center;
      border: 8px solid rgb(var(--peach));
      box-shadow: inset 0 0 16px rgb(var(--black), 0.4),
        0 0 8px rgba(var(--white), 0.4);

      @media (max-width: 768px) {
        align-self: flex-start;
      }

      .aboutImage {
        margin: 0 auto;
      }
    }
  }
}
