.header {
  position: fixed;
  width: 100%;
  z-index: 1;

  .headerInner {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--header-background);
    min-height: 64px;
    position: relative;
    .logo {
      position: relative;
      height: 55px;
      z-index: 3;
      .logoImage {
        position: absolute;
        top: 0;
      }
    }
    nav.nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: all var(--transition-default);

      @media (max-width: 768px) {
        backdrop-filter: blur(4px);
        position: absolute;
        top: 71px;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(var(--black), 0.9);
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        transition: transform 0.4s ease, opacity 0.4s ease, visibility 0.4s;
        display: flex;
        justify-content: center;
        align-items: center;

        &[data-open="true"] {
          opacity: 1;
          visibility: visible;
        }
      }

      .navList {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 1.2rem;

        @media (max-width: 768px) {
          flex-direction: column;
        }

        .navListItem {
          .navLink {
            color: rgb(var(--nav-link-color));
            text-decoration: none;
            font-size: 1.125rem;
            font-weight: 300;
            line-height: 1.5;
            transition: color var(--transition-default);
            &:hover {
              color: rgb(var(--nav-active-link-color));
            }
          }
        }
      }
    }
    .headerMobileMenuCon {
      display: none;
      z-index: 3;
      position: relative;

      @media (max-width: 768px) {
        display: block;
      }

      .headerMobileMenuBtn {
        display: flex;
        align-items: center;
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: rgb(var(--beige));
        font-size: 2rem;
        transition: color var(--transition-default);
        -webkit-tap-highlight-color: transparent;
        &:hover {
          color: rgb(var(--nav-active-link-color));
        }

        .headerMobileMenuicon {
          -webkit-tap-highlight-color: transparent;
        }
      }
    }
  }
}
