section.hero {
  .heroInner {
    position: relative;
    overflow: hidden;
    min-height: 100vh;

    .logoImageCon {
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translateX(-50%);
      width: 200px;
      height: 200px;
      z-index: 0;
      .logoImage {
      }
    }

    .heroText {
      position: absolute;
      display: inline-block;
      bottom: 40%;
      left: 50%;
      transform: translate(-50%, 50%);
      width: 450px;
      padding: 0 1rem;
      backdrop-filter: blur(30px);
      border-radius: var(--radius-md);
      text-align: center;

      @media (max-width: 540px) {
        width: 350px;
        top: unset;
        bottom: 20%;
      }

      .heroHeadline {
        line-height: 1.2;
        display: inline-block;

        @media (max-width: 650px) {
          font-size: 2.25rem;
        }

        @media (max-width: 540px) {
          font-size: 2rem;
        }

        .heroHeadlineHighlighted {
          color: rgb(var(--hero-headline-highlighted-color));
        }
      }
    }
    .heroImageCon {
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      display: flex;
      align-items: center;
      justify-content: center;
      .heroImage {
        height: 100%;

        @media (max-width: 1024px) {
        }
      }
    }
  }
}
