section.typeAnalysis {
  .background {
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;

    .h2 {
      text-align: center;
    }

    .content {
      display: flex;
      padding-block: 2rem;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      .per,
      .contra {
        display: flex;
        flex: 1;

        .perTextList,
        .contraTextList {
          list-style: none;
          padding-left: 0;
          padding-block: 4rem;
          display: flex;
          flex: 1;
          flex-direction: column;
          justify-content: space-between;

          @media (max-width: 768px) {
            align-self: center;
          }
          @media (max-width: 480px) {
            padding-block: unset;
          }

          .contraTextListItem,
          .perTextListItem {
            @media (max-width: 768px) {
              margin-block: 1rem;
              width: 100%;
              max-width: 260px;
            }
          }
        }

        .perTextList {
          text-align: right;
          padding-right: 2rem;
          @media (max-width: 768px) {
            padding-right: 1rem;
            align-items: flex-end;
          }
        }

        .contraTextList {
          padding-left: 2rem;
        }
      }

      .per,
      .contra {
        @media (max-width: 768px) {
          padding-inline: 0;
        }
      }
    }
  }
}
