section.typeAnalysis {
  .background {
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;

    .h2 {
      text-align: center;
    }

    .content {
      display: flex;
      padding-block: 2rem;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      .per,
      .contra {
        display: flex;
        flex: 1;

        .perTextList,
        .contraTextList {
          list-style: none;
          padding-left: 0;
          padding-block: 4rem;
          display: flex;
          flex: 1;
          flex-direction: column;
          justify-content: space-between;

          @media (max-width: 768px) {
            align-self: center;
          }

          .contraTextListItem,
          .perTextListItem {
            @media (max-width: 768px) {
              margin-block: 1rem;
            }
          }
        }

        .perTextList {
          text-align: right;
          padding-right: 2rem;
          @media (max-width: 768px) {
            padding-right: 1rem;
          }
        }

        .contraTextList {
          padding-left: 2rem;
        }
        @media (max-width: 768px) {
          padding-left: 1rem;
        }
      }

      .per {
        @media (max-width: 768px) {
          padding-bottom: 1rem;
          padding-right: 0;
        }

        .perImageContainer {
          .perImage {
            @media (max-width: 768px) {
              margin-right: -2rem;
            }
            @media (max-width: 480px) {
              margin-right: -1.25rem;
            }
          }
        }
      }
      .contra {
        @media (max-width: 768px) {
          padding-top: 1rem;
          padding-left: 0;
        }

        .contraImageContainer {
          .contraImage {
            @media (max-width: 768px) {
              margin-left: -2rem;
            }
            @media (max-width: 480px) {
              margin-left: -1.25rem;
            }
          }
        }
      }
    }
  }
}
