.h2 {
  text-align: center;
}

.workMethodList {
  list-style: none;
  padding-inline: 0;
  padding-block: 4rem;
  margin: 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;

  .workMehtodItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 2rem;

    .headline {
      padding: 0;
    }
  }
}
