section.techStack {
  .content {
    padding-inline: 2rem;

    .techStackList,
    .itemsList {
      list-style: none;
    }

    .techStackList {
      flex: 1;
      min-width: 200px;

      .techStackItems {
        .headline {
          color: rgb(var(--peach));
        }
      }
    }
  }
}
