section.implementationChallenge {
  .implChallengeList {
    list-style: none;

    .challengeListHeader {
      padding-bottom: 1rem;

      .challengeListHeadline {
        padding-bottom: 0;
      }
    }

    .itemList {
      list-style: none;
    }
  }
}
