:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

section[id] {
  scroll-margin-top: 4rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
li {
  cursor: default;
}

.pointer {
  cursor: pointer;
}

main .swiper-horizontal {
  > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    text-align: center;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    border-radius: 50px;
    border: 2px solid rgb(var(--peach));
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    position: absolute;
  }

  > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    background: rgba(var(--beige), 0.75);
    height: 10px;
    width: 10px;
  }

  > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: rgba(var(--peach), 1);
    opacity: 1;
  }
}
