main.main {
  main.aboutMain {
    .aboutMainInner {
      max-width: 600px;
      margin: 0 auto;
      .aboutList {
        list-style: none;
        padding-left: 0;
        .aboutListItem {
          display: flex;
          gap: 2rem;
          .timeLine {
            display: flex;
            justify-content: center;
            .timeLineContainer {
              position: relative;
              display: flex;
              flex-direction: column;
              justify-content: center;
              .timeLineDot {
                background: rgb(var(--peach-300));
                border-radius: 50%;
                width: 1rem;
                height: 1rem;
              }
              .timeLineLineFirst {
                width: 4px;
                height: 50%;
                background: rgb(var(--peach-300));
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
              }
              .timeLineLine {
                width: 4px;
                height: 100%;
                background: rgb(var(--peach-300));
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
              }
              .timeLineLineLast {
                width: 4px;
                height: 75%;
                background: rgb(var(--peach-300));
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
              }
            }
            .timeLineLineYear {
              rotate: 90deg;
              font-family: var(--font-inter);
              font-size: 0.85rem;
              font-weight: normal;
              letter-spacing: 1.5px;
              align-self: center;
            }
          }
          .timeLineText {
            display: flex;
            gap: 0.5rem;
            flex-direction: column;
            .timeLineTextHeadline {
              margin: 0;
              padding: 0;
            }
            .timeLineTextContent {
              margin: 0;
              padding-bottom: 2rem;
            }
          }
        }
      }
    }
  }
  section.projects {
    background-image: url("../../public/img/background/projetcs_bckgrnd.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .projectsBackground {
      background: radial-gradient(
        circle at 25% -25%,
        rgba(53, 33, 27, 0.8) 0%,
        rgba(var(--black), 1) 100%
      );
      backdrop-filter: blur(16px);

      .projectsHeader {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @media (max-width: 768px) {
          max-width: 550px;
        }

        .projectsHeadline {
          padding: 0;
        }
        .projectsText {
          margin: 0;
          column-width: 300px;
        }
      }
      .projectsMain {
      }
    }
  }
  section.music {
    background-image: url("../../public/img/background/music_bckgrnd.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(16px);

    .musicBackground {
      background: radial-gradient(
        circle at 25% 100%,
        rgba(63, 15, 21, 0.8) 0%,
        rgba(var(--black), 1) 100%
      );
      backdrop-filter: blur(16px);

      .musicHeader {
        display: flex;
        flex-direction: row;
        gap: 4rem;
        align-items: center;

        @media (max-width: 768px) {
          flex-direction: column-reverse;
          gap: 2rem;
        }

        .musicHeaderText {
          display: flex;
          flex-direction: column;
          gap: 2rem;

          @media (max-width: 768px) {
            max-width: 550px;
          }

          .musicHeadline {
            padding: 0;
          }
          .musicText {
            margin: 0;
          }
          .musicHeaderButtonCon {
            width: 100%;
            display: flex;
            justify-content: flex-end;
          }
        }
        .musicHeaderImageCon {
          border-radius: 500px;
          overflow: hidden;
          width: 248px;
          height: 382px;
          display: flex;
          flex-shrink: 0;
          justify-content: center;
          align-items: center;
          border: 8px solid rgb(var(--peach));
          box-shadow: inset 0 0 16px rgb(var(--black), 0.4),
            0 0 8px rgba(var(--white), 0.4);

          @media (max-width: 768px) {
            align-self: flex-start;
          }

          .musicHeaderImage {
            margin: 0 auto;
          }
        }
      }
      .musicMain {
        padding: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        border-radius: 25px;
        background: linear-gradient(
          90deg,
          rgba(2, 2, 2, 0.65) 0%,
          rgba(23, 23, 23, 0.65) 100%
        );

        @media (max-width: 768px) {
          flex-direction: column;
          gap: 2rem;
          width: 100%;
        }

        .musicMainText {
          @media (max-width: 768px) {
            max-width: 550px;
          }

          .musicMainHeadline {
            line-height: normal;
            padding: 0;
            font-size: 1.5rem;
            color: rgb(var(--peach));
          }
          .musicMainTextContent {
            font-size: 1.15rem;
            line-height: 1.25;
          }
        }
        .musicMainPlayer {
          .musicPlayerImage {
            @media (max-width: 480px) {
              width: 100%;
              height: auto;
            }
          }
        }
      }
      .musicFooter {
        .musicFooterList {
          list-style: none;
          padding-left: 0;
          display: flex;
          flex-direction: row;
          gap: 2rem;

          @media (max-width: 768px) {
            flex-direction: column;
            gap: 3rem;
          }

          .musicFooterListItem {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            flex: 1;
            .musicFooterListItemImgCon {
              height: 80px;
            }

            .musicFooterListItemHeadline {
              color: rgb(var(--peach));
              padding: 0;
            }
            .musicFooterListItemText {
              margin: 0;
              font-size: 1rem;
              text-align: center;
            }
          }
          .musicFooterListItemButtonCon {
            width: 100%;
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }
  section.contact {
    background-image: url("../../public/img/background/contact_bckgrnd.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .contactBackground {
      backdrop-filter: blur(4px);
      background: radial-gradient(
        circle at 25% 0%,
        rgba(var(--ruby), 0.8) 0%,
        rgba(var(--black), 1) 100%
      );
      box-shadow: inset 0 0 16px rgb(var(--black), 0.4);

      .contactHeader {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        .contactHeadline {
          padding: 0;
        }
        .contactText {
          margin: 0;
          max-width: 550px;
        }
      }
      .contactMain {
        display: flex;
        flex-direction: row;
        gap: 2rem;

        @media (max-width: 768px) {
          flex-direction: column-reverse;
          gap: 6rem;
        }

        .contactMainText {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          flex: 1;
          justify-content: center;

          .contactMainTextAdress {
            font-size: 1.15rem;
            line-height: 1.25;
            margin: 0;
          }
          .contactMainTextContact {
            font-size: 1.15rem;
            line-height: 1.25;
            margin: 0;

            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5rem;
          }

          .contactMainTextSMIcons {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            color: rgb(var(--peach-300));
            list-style: none;
            padding-left: 0;
            margin-block: 0;
          }
        }
        .contactMainForm {
          flex: 1;

          @media (max-width: 768px) {
            max-width: 400px;
          }

          .contactFormFieldset {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .contactFormLabel {
              font-size: 1rem;
            }

            .contactFormInput,
            .contactFormTextarea {
              border-radius: 0.375rem;
              border: 1px solid rgb(var(--peach));
              background-color: rgba(var(--clay-500), 0.25);
              padding: 0.5rem;
              font-size: 1rem;
              color: rgb(var(--text-color));

              &:focus-visible {
                outline: var(--focus-ring);
              }
            }
          }

          .contactMainFormText {
            font-size: 0.75rem;
            line-height: 1;
            margin: 0;
          }

          .contactMainFormButtonCon {
            width: 100%;
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }
}
footer.footer {
  padding-inline: 1rem;
  background-color: rgb(var(--footer-background));

  .footerText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: column-reverse;
      gap: 2rem;
      align-items: center;
    }

    .footerTextCopyright {
      margin-block: 0;
      font-size: 1rem;

      @media (max-width: 768px) {
        text-align: center;
      }

      .footerTextContentLink {
      }
    }
    .footerTextNavigation {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      .footerTextContentLink {
        font-size: 1rem;
      }
    }
  }
}
