.control {
}

.primary {
  border-radius: var(--btn-radius);
  padding: var(--btn-padding);
  font-size: 1rem;
  font-weight: var(--btn-font-weight);
  transition: all var(--transition-fast);
  box-shadow: var(--shadow-md);
  align-self: flex-start;
  background: rgba(var(--beige), 0.15);
  border: 2px solid rgb(var(--peach));
  color: rgb(var(--beige));
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.25);

  &:hover {
    background: rgb(var(--peach));
    color: rgb(240, 228, 217);
    border-color: rgb(var(--beige));
    box-shadow: var(--shadow-inset-sm);
  }
}
