.projectCardSliderArrows {
  display: flex;
  align-items: center;
  padding-inline: 10px;
  .arrowButton {
    border-radius: 100%;
    border: 2px solid rgb(var(--peach));
    width: 2.25rem;
    height: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    @media (max-width: 920px) {
      display: none;
    }

    &:hover {
      background-color: rgba(var(--peach), 1);
      border-color: rgba(var(--beige), 1);
      box-shadow: inset 0 0 4px rgba(var(--black), 0.6);
    }

    &:disabled {
      opacity: 0.3;
      cursor: default;
    }
    .arrow {
    }
  }
}
.swiperSlider {
  padding-bottom: 1rem;
}
.projectCard {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .projectCardImageCon {
    max-width: 400px;
    width: 100%;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(var(--black), 0.4);

    @media (max-width: 920px) {
      max-width: unset;
    }

    .projectCardImage {
      @media (max-width: 920px) {
        height: auto;
        width: 60%;
        max-width: 120px;
      }
    }
  }
  .projectCardText {
    .projectCardHeadline {
      margin: 0;
    }
    .projectCardTextContent {
      margin: 0;
      padding: 0;
    }
  }
  .projectCardTags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    .projectCardTag {
      border: 1px solid rgba(var(--beige), 0.25);
      border-radius: var(--radius-lg);
      color: rgb(var(--peach-300));
      font-size: 14px;
      padding: 0.25rem 1rem;
    }
  }
  .projectCardCtaContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }
}
