ul.catList {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 4rem;

  .catListItem {
    break-inside: avoid;
    margin-bottom: 2rem;
  }
}

.subSection {
  .ItemList {
    list-style: none;
  }
}
