.legend {
  padding: 1rem 2rem;
  background: var(--box-background-gradient);
  border-radius: var(--radius-lg);
  border: 1px solid rgba(255, 255, 255, 0.1);

  .legendList {
    .legendItem {
      display: flex;
      gap: 2rem;
      align-items: center;

      .itemLabel {
        font-size: 1rem;
      }
    }
  }
}
