section.contact {
  box-shadow: inset 0 0 16px rgb(var(--black), 0.4);

  .bodyWrapper {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    @media (max-width: 768px) {
      flex-direction: column-reverse;
      gap: 6rem;
    }

    .contactDataWrapper {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      flex: 1;
      justify-content: center;
      list-style: none;

      .adress {
        font-size: 1.15rem;
        line-height: 1.25;
        margin: 0;
      }

      .contactDataGroup {
        .contactDataGroupItem {
          font-size: 1.15rem;
          line-height: 1.25;
          margin: 0;

          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 0.5rem;
        }

        .contactDataGroupIcons {
          display: flex;
          flex-direction: row;
          gap: 0.5rem;
          color: rgb(var(--peach-300));
          list-style: none;
          padding-left: 0;
          margin-block: 0;
        }
      }
    }
    .form {
      flex: 1;

      @media (max-width: 768px) {
        max-width: 400px;
      }

      .wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .fieldheader {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }

        .label,
        .headerMessage {
          font-size: 0.8rem;
        }

        .input,
        .textarea {
          border-radius: 0.375rem;
          border: 1px solid rgb(var(--peach));
          background-color: rgba(var(--clay-500), 0.25);
          padding: 0.5rem;
          font-size: 1rem;
          color: rgb(var(--text-color));

          &:focus-visible {
            outline: var(--focus-ring);
          }
        }

        .error,
        .success {
          font-size: 0.85rem;
          padding-top: 0.25rem;
          color: rgb(var(--peach));
        }

        .serverError {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 0.5rem;
          color: rgb(var(--peach));

          .icon {
            font-size: 2.5rem;
          }
          .message {
            font-size: 0.85rem;
            margin: 0;
            line-height: 1.25;
          }
        }
      }

      .privacyNote {
        font-size: 0.75rem;
        line-height: 1;
        margin: 0;
        font-weight: 200;
      }

      .actions {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }
}
