.visuals__grid {
  display: grid;
  width: 100%;
  max-width: 1920px;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.gallerie_modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  z-index: 10;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .gallerie_modalNavigation {
    display: flex;
    justify-content: flex-end;
  }
}
