section.hero {
  .heroInner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;

    &.fullscreen {
      min-height: 100vh;
    }

    &.compact {
      min-height: none;
      height: 50vh;
    }

    .logoImageOverlay {
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translateX(-50%);
      width: auto;
      height: auto;
      z-index: 0;
      .logoImage {
        @media (max-width: 540px) {
          width: 140px;
          height: auto;
        }
      }
    }

    .textOverlay {
      display: flex;
      justify-content: center;
      width: 100%;
      position: absolute;
      bottom: 20%;

      @media (max-width: 1024px) {
        bottom: 20%;
      }

      .contentInner {
        display: flex;
        flex-direction: column;
        width: auto;
        padding: 1rem;
        backdrop-filter: blur(30px);
        border-radius: var(--radius-md);
        text-align: center;
        gap: 1rem;

        .headline {
          line-height: 1.2;
          display: inline-block;
          padding: 0;

          @media (max-width: 650px) {
            font-size: 2.25rem;
          }

          @media (max-width: 540px) {
            font-size: 2rem;
          }

          .heroHeadlineHighlighted {
            color: var(--hero-headline-highlighted-color);
          }
        }

        .subline {
          max-width: 420px;
        }
      }
    }
    .backgroundImage {
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      display: flex;
      align-items: center;
      justify-content: center;
      .heroImage {
        width: 100%;
        height: auto;
        @media (max-width: 1024px) {
          height: 100%;
          width: auto;
        }
      }
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin 3s linear infinite;
  font-size: 2rem; /* optional, für Größe */
}
