.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  padding: 1rem;
  clip: auto;
  white-space: normal;
  background: var(--peach-300);
  color: black;
  z-index: 1000;
}
