.inner {
  margin-inline: auto;
  width: 100%;
}

.padding-inline {
  @media (max-width: 1024px) {
    padding-inline: 2rem;
  }
  @media (max-width: 768px) {
    padding-inline: 1.5rem;
  }
  @media (max-width: 480px) {
    padding-inline: 1rem;
  }
}

.no-inline-padding {
  padding-inline: 0 !important;
}

@media (max-width: 1024px) {
  .no-inline-lg {
    padding-inline: 0 !important;
  }
}

@media (max-width: 768px) {
  .no-inline-md {
    padding-inline: 0 !important;
  }
}

@media (max-width: 480px) {
  .no-inline-sm {
    padding-inline: 0 !important;
  }
}

.narrow {
  max-width: 848px;
}

.swiper {
  max-width: 992px;
}

.default {
  max-width: 1024px;
}

.wide {
  max-width: 1440px;
}

.full {
  width: 100%;
}

/* Padding Top */

.pt-xs {
  padding-top: var(--gap-xs);
}

.pt-sm {
  padding-top: var(--gap-sm);
}
.pt-md {
  padding-top: var(--gap-md);
}
.pt-lg {
  padding-top: var(--gap-lg);
  @media (max-width: 768px) {
    padding-top: var(--gap-md);
  }
}
.pt-xl {
  padding-top: var(--gap-xl);
  @media (max-width: 768px) {
    padding-top: var(--gap-lg);
  }
}
.pt-xxl {
  padding-top: var(--gap-xxl);
  @media (max-width: 768px) {
    padding-top: var(--gap-xl);
  }
}
.pt-xxxl {
  padding-top: var(--gap-xxxl);
  @media (max-width: 768px) {
    padding-top: var(--gap-xl);
  }
}

/* Padding Bottom */
.pb-xs {
  padding-bottom: var(--gap-xs);
}
.pb-sm {
  padding-bottom: var(--gap-sm);
}
.pb-md {
  padding-bottom: var(--gap-md);
}
.pb-lg {
  padding-bottom: var(--gap-lg);
  @media (max-width: 768px) {
    padding-bottom: var(--gap-md);
  }
}
.pb-xl {
  padding-bottom: var(--gap-xl);
  @media (max-width: 768px) {
    padding-bottom: var(--gap-lg);
  }
}
.pb-xxl {
  padding-bottom: var(--gap-xxl);
  @media (max-width: 768px) {
    padding-bottom: var(--gap-xl);
  }
}
.pb-xxxl {
  padding-bottom: var(--gap-xxxl);
  @media (max-width: 768px) {
    padding-bottom: var(--gap-xxl);
  }
}
