.stack {
  display: flex;

  @media (max-width: 768px) {
    align-items: center;
  }
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}
.wrap {
  flex-wrap: wrap;
}

.gap-sm {
  gap: var(--gap-sm);
}

.gap-md {
  gap: var(--gap-md);
}

.gap-lg {
  gap: var(--gap-lg);
}

.gap-xl {
  gap: var(--gap-xl);
}

.gap-xxl {
  gap: var(--gap-xxl);
}
.gap-xxl {
  gap: var(--gap-xxxl);
}

.justify-flex-start {
  justify-content: flex-start;
}
.justify-flex-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-space-between {
  justify-content: space-between;
}
.justify-space-around {
  justify-content: space-around;
}
.justify-space-evenly {
  justify-content: space-evenly;
}
