.projectCard {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &:hover {
    filter: grayscale(0%);
    opacity: 1;
    transition: filter 0.2s ease;
  }

  .projectCardImageCon {
    width: 100%;
    height: 210px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(var(--black), 0.4);

    @media (max-width: 920px) {
      max-width: unset;
    }

    .projectCardImage {
      @media (max-width: 920px) {
        height: auto;
        width: 60%;
        max-width: 120px;
      }
    }

    .viewedBadge {
      position: absolute;
      display: inline-block;
      bottom: 0.25rem;
      right: 0.5rem;
      font-size: 2rem;
      line-height: 1rem;
      color: rgba(255, 255, 255, 0.6);
    }
  }
  .projectCardText {
    .projectCardHeadline {
      margin: 0;
    }
    .projectCardTextContent {
      margin: 0;
      padding: 0;
    }
  }
  .projectCardTags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    .projectCardTag {
      border: 1px solid rgba(var(--beige), 0.25);
      border-radius: var(--radius-lg);
      color: rgb(var(--peach-300));
      font-size: 14px;
      padding: 0.25rem 1rem;
    }
  }

  .projectCardCtaContainer {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.viewed {
  filter: grayscale(60%);
  opacity: 0.85;
  transition: filter 0.2s ease;
}
